Source: eta-coser
Section: utils
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9), libqt5core5a, libqt5gui5, libqt5widgets5, libstdc++6, qtbase5-dev
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-coser
Architecture: amd64
Pre-Depends: lightdm
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5svg5
Description: ETAP OS Seçme Programı
 Sadece ETAP ve Windows aynı anda yüklü ise çalışır.
